*.pyc
train 
test
submissionDenseNet121.csv
submissionDenseNet169.csv
submissionDenseNet201.csv
submissionEfficientNetB0.csv
submissionEfficientNetB4.csv
submissionInceptionResNetV2.csv
submissionMobileNetV3Small.csv